{% extends "::base.html.twig" %}

{% block title %}MobileapiBundle:ComentaireMObile:deleteComment{% endblock %}

{% block body %}
<h1>Welcome to the ComentaireMObile:deleteComment page</h1>
{% endblock %}
