{% extends "::base.html.twig" %}

{% block title %}MobileapiBundle:ComentaireMObile:FindCommentByUser{% endblock %}

{% block body %}
<h1>Welcome to the ComentaireMObile:FindCommentByUser page</h1>
{% endblock %}
